<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: 'Error page'}) %>

<body>
    <%- include('../partials/header.ejs', {}) %>

    <h1>
        AN error occured with the payment ..please check your internet connection or <button id='btnRefresh'> reload
        </button> the page
    </h1>
</body>

<script>
    let btnRefresh = document.querySelector('#btnRefresh');

    function refreshpage() {
        window.location.reload()
    }
    btnRefresh.addEventListener('click', () => {
        refreshpage()
    })
</script>
<%- include('../partials/footer.ejs', {}) %>

</html>