 <!-- Breadcrumb Section Begin -->
 <div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <% if(subpageName) { %>
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <a href="/shop"> <%- pageName %> </a>
                        <span> <%- subpageName %> </span>
                        }
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                    <span><%- pageName %></span>
                     <% } %>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->