<header class="main-header">
    <div class="header-slide" style="background-color: #ffeacd;">
        <div class="container">
            <a href="#">
            <img src="https://ng.jumia.is/cms/Homepage/2020/Top-strip/0-Top-Strip-.gif"  class="_ni" alt="Stay Safe">
        </a>
        </div>
    </div>
    <div class="header-top">
        <div class="container">
            <div class="ht-left">
                <div class="mail-service">
                    <i class=" fa fa-envelope"></i>
                    <a href="mailto:Phashsupping@hotmail.com"
                        style="text-decoration: none; color: black;">Phashsupping@hotmail.com</a>
                </div>
                <div class="phone-service">
                    <i class=" fa fa-phone"></i>
                    <a href="tel:+2348167561712" style="text-decoration: none; color: black;">Phone: 08167561712 </a>
                </div>
            </div>
            <div class="ht-right">
                <div class="lan-selector">
                    <select class="language_drop" name="countries" id="countries" style="width:300px;">
                        <option value='yt' data-image="/img/flag-1.webp" data-imagecss="flag yt" data-title="English">
                            English</option>
                        <option value='yu' data-image="/img/flag-2.webp" data-imagecss="flag yu" data-title="Bangladesh">
                            German </option>
                    </select>
                </div>
                <div class="top-social">
                    <a href="#"><i class="ti-facebook"></i></a>
                    <a href="#"><i class="ti-twitter-alt"></i></a>
                    <a href="https://www.instagram.com/phash_suppin_/?hl=en" target="_blank"><i
                            class="fa fa-instagram"></i></a>

                    <!-- <a href="#"><i class="ti-linkedin"></i></a> -->
                    <!-- <a href="#"><i class="ti-pinterest"></i></a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        
        <div class="row">

            <div class="col-md-4">
                <div class="logo">
                    <a href="/"><img src="/img/phashsupping-logo.png" width="40%" class="img-responsive" alt="logo"></a>
                </div> <!-- .logo -->
            </div>

            <div class="col-md-8">
                <a href="#" class="user-links-toggler"><i class="fa fa-bars"></i></a>
                <div class="user-links clearfix">
                    <!-- <div class="social-links">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                    </div> .social -->
                    <div class="account-links">
                        <a href="<%= authh  ? '/logout' : '/login' %> " class="login-panel"><i
                            class="fa fa-lock"></i><%= authh ? 'logout' : 'login' %> </a>
                    </div> <!-- .account-links -->
                    <div class="secondary-menu">
                        <a href="/">Home</a>
                        <a href="/shop">Shop</a>
                        <a href="/about">About Us</a>
                        <a href="/contact">Contact Us</a>
                        <a href="/register" class="login-panel"><i class="fa fa-user" ></i> Register</a>
                    </div> <!-- .secondary-menu -->
                </div> <!-- .user-links -->
                <div class="mobile user-links clearfix">
                    <div class="secondary-menu">
                        <a href="/">Home</a>
                        <a href="/shop">Shop</a>
                        <a href="/about">About Us</a>
                        <a href="/contact">Contact Us</a>
                        <a href="/register" class="login-panel"><i class="fa fa-user" ></i> Register</a>
                    </div> <!-- .secondary-menu -->
                    <div class="account-links">
                        <a href="<%= authh  ? '/logout' : '/login' %> " class="login-panel"><i
                            class="fa fa-lock"></i><%= authh ? 'logout' : 'login' %> </a>
                        
                    </div> <!-- .account-links -->
                    <!-- <div class="social-links">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                    </div> .social -->
                </div> <!-- .mobile.user-links -->
            </div>

        </div> <!-- .row -->
    </div> <!-- .container -->
</header> <!-- .main-header -->

<nav class="navigation">			
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-sm-4 col-xs-3">
                <div class="mainmenu">
                    <a href="#" class="menu-trigger">
                        <i class="fa dyna fa-bars"></i>
                        <span>Categories</span>
                        <i class="fa fa-caret-down"></i>
                    </a> <!-- .menu-trigger -->					
                </div> <!-- .mainenu -->
            </div>

            <div class="col-md-7 col-sm-6 col-xs-7">
                <div class="searchbar">
                    <form action="" method="get">
                        <input type="text" placeholder="Search your product here" class="input" name="q">
                        <button type="submit" class="button" value="Search"><i class="fa fa-search"></i></button>
                    </form>
                </div> <!-- .searchbar -->
            </div>

            <div class="col-sm-2 col-xs-2">
                <div class="cart-link">
                    <a href="#">
                        <i class="fa fa-shopping-cart"></i>
                        <span>My Cart</span> &nbsp; 
                        <i class="fa fa-angle-down" style="position: relative; bottom: 2px; font-size: 12px;"></i>
                    </a>
                    <div class="cart-box">
                        <ul class="item-list">
                            <li class="item clearfix">
                                <div class="image">
                                    <a href="#"><img src="/images/cart-item.png" alt=""></a>
                                </div>
                                <div class="details">
                                    <span class="name"><a href="#">Lether woemn bag</a></span>
                                    <span class="price">$99.00</span>
                                    <span class="delete-item"><i class="fa fa-times"></i></span>
                                </div>
                            </li>
                            <li class="item clearfix">
                                <div class="image">
                                    <a href="#"><img src="/images/cart-item.png" alt=""></a>
                                </div>
                                <div class="details">
                                    <span class="name"><a href="#">Lether woemn bag</a></span>
                                    <span class="price">$99.00</span>
                                    <span class="delete-item"><i class="fa fa-times"></i></span>
                                </div>
                            </li>
                        </ul>
                        <div class="clearfix cart-summary">
                            <div class="summary-left">
                                2 products added
                            </div>
                            <div class="summary-right">
                                $200.00
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="#" class="button">View Cart</a>
                            <a href="#" class="button ghost">Check Out</a>
                        </div>
                    </div> <!-- .cart-box -->
                </div> <!-- .cart-link -->
            </div>

        </div> <!-- .row -->
    </div> <!-- .container -->
        <div class="menu-wrapper" style="display: none;">
            <div class="container">
                <div class="row">

                    <div class="col-md-3 col-sm-6">
                        <div class="menu-box">
                            <div class="title">
                                <img src="/img/women.png" alt="icon"> Womens Dresses
                            </div> <!-- .title -->
                            <ul class="linklist">
                                <li><a href="#">Mobile</a></li>
                                <li><a href="#">Tablets</a></li>
                                <li><a href="#">Computer</a></li>
                                <li><a href="#">Pen drives</a></li>
                                <li><a href="#">Headphones</a></li>
                                <li><a href="#">Tablets</a></li>
                                <li><a href="#">Computer</a></li>
                                <li><a href="#">Pen drives</a></li>
                                <li><a href="#">Headphones</a></li>
                                <li><a href="#" class="alt"><strong>View All »</strong></a></li>
                            </ul> <!-- .linklist -->
                        </div> <!-- .menu-box -->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="menu-box">
                            <div class="title">
                                <img src="img/men.png" alt="icon"> Mens fashion
                            </div> <!-- .title -->
                            <ul class="linklist">
                                <li><a href="#"> Gift &amp; Lifestyle Gadgets </a></li>
                                <li><a href="#">Gift for Men </a></li>
                                <li><a href="#">Gift for Women </a></li>
                                <li><a href="#">Golf Supplies </a></li>
                                <li><a href="#">Golf Supplies </a></li>
                                <li><a href="#">Latest Jorgious Dressess </a></li>
                                <li><a href="#">Leather Material </a></li>
                                <li><a href="#">Gift for Men </a></li>
                                <li><a href="#">Gift for Women </a></li>
                                <li><a href="#" class="alt"><strong>View All »</strong></a></li>
                            </ul> <!-- .linklist -->
                        </div> <!-- .menu-box -->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="menu-box">
                            <div class="title">
                                <img src="img/kid.png" alt="icon"> Kids fashion
                            </div> <!-- .title -->
                            <ul class="linklist">
                                <li><a href="#"> Salon &amp; Spa Equipment </a></li>
                                <li><a href="#">Shaving &amp; Hair Removal </a></li>
                                <li><a href="#">Lighter &amp; Cigar Supplies </a></li>
                                <li><a href="#">RC Cars &amp; PartsGift  </a></li>
                                <li><a href="#">Lifestyle Gadgets </a></li>
                                <li><a href="#">Gift for Men </a></li>
                                <li><a href="#">Gift for Women </a></li>
                                <li><a href="#">Shaving &amp; Hair Removal </a></li>
                                <li><a href="#">Lighter &amp; Cigar Supplies </a></li>
                                <li><a href="#" class="alt"><strong>View All »</strong></a></li>
                            </ul> <!-- .linklist -->
                        </div> <!-- .menu-box -->
                    </div>
                    
                    <div class="col-md-3 col-sm-6">
                        <div class="menu-box">
                            <div class="menu_verticle_banner">
                                <img src="/img/banner-verticle.png" alt="banner"> 
                            </div> <!-- .banner -->
                        </div> <!-- .menu-box -->
                    </div>

                    

                    

                    

                </div> <!-- .row -->
            </div>
        </div> <!-- .menu-container -->
</nav> <!-- .navigation -->

<div class="container-fluid">
    <div class="content">
    </div>
</div>