/* .form-control:valid {
    border-color: black;
} */
.form-control:invalid {
    border-color: red;
}

#email:invalid {
    border-color: red;
}

.passnotmatch {
    display: block;
    color: red;
}

.passmatch {
    display: none;
}