/* .form-control:valid {
    border-color: black;
} */
.form-control:invalid {
    border-color: #eaa0a0;
}

#email:invalid {
    border-color: #eaa0a0;
}

.passnotmatch {
    display: block;
    color: red;
}

.passmatch {
    display: none;
}


img.lozad {
    max-height: 275px !important;
    height: 100%;
}
