<section class="medilife-blog-area section-padding-50" style="padding-top:150px">
    <div class="container">
        <div class="row">
            <div class="col-12 justify-content-center pt-5">
                <p class="fa-lg text-danger text-center p-3">
                    nothing was found here. <span>please keep  <a href="/shop">shooping</a> </span>
                </p>
                <div class="text-center col-12 my-5">
                    <img src="/img/error-404.png" class="border border-black"/>
                </div>
            </div>
        </div>
    </div>
</section>