<!-- <div class="form-group"> -->
<div class="form-group row">
    <label class="col-sm-2 col-form-label"> <%=fieldlabel%> </label>
    <div class="col-sm-10">
        <select name="<%= fieldname%>" class="form-control" id="inputGroupSelect01" required>
            <option selected>Choose me...</option>
            <option value="Nigerian Naira">male clothings</option>
            <option value="Rand">female clothings</option>
            <option value="kenyan shilling">male kid</option>
            <option value="uganda shilling">female kid</option>
            <option value="egyptian pounds">male shoes</option>
            <option value="egyptian pounds">female shoes</option>
            <option value="egyptian pounds">male caps</option>
            <option value="egyptian pounds">female caps</option>
        </select>
    </div>
</div>