<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs', {title}) %>

<body>
    <div class="wrapper">
        <%- include('./partials/sidebar.ejs', {}) %>

        <div class="main-panel">
            <%- include('./partials/navbar.ejs', {}) %>
            <div class="content">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="http://res.cloudinary.com/phashsupping/image/upload/v1584556581/Phash/sjuugzvcriwazoiltgvi.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Product Name</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">C.name: phawaz abula</li>
                  <li class="list-group-item">C.Email: phawazzzy@gmai.com</li>
                  <li class="list-group-item">C.number: 08162816543</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">VIEW MORE</a>
                  <a href="#" class="card-link">Order status</a>
                </div>
              </div>
            </div>
        </div>
    </div>

</body>


</html>